<h1><%= @article.title %></h1>
<p>
  <%= @article.content %>
  <%= @article.author %>
</p>
<%= form_with url: article_comments_path(@article) do |f| %>
  <%= f.label :body, 'Comment' %>
  <%= f.text_field :body %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit %>
<% end %>
<% if @article.comments.any? %>
  <% @article.comments.each do |comment| %>
    <p>
      <%= comment.body %>
    </p>
    <p>
      <%= comment.email %>
    </p>
  <% end %>
<% end %>
